<h1 style="margin-top: 0; color: #333333; font-size: 22px; font-weight: bold; text-align: left;" align="left"><%= @provider.first_name %>, your help request has been created.</h1>
<p style="font-size: 16px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;">Here is a public link with your help request details to share with your friends, family, community, and local neighborhood groups.</p>
<table align='center' style='text-align:center'>
  <tr>
    <td align='center' style='text-align:center'>
<p style="font-size: 16px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;"><strong><a href="<%= @request_url %>%"><%= @request_url %></a></strong></p>
    </td>
  </tr>
</table>
<p style="font-size: 16px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;">Volunteers will reach out to you via this link to offer and coordinate help.</p>
<p style="font-size: 16px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;">Your request will expire in 14 days.</p>
<p style="font-size: 16px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;">You can edit or delete your request at any time by clicking the link below.</p>
<p style="font-size: 16px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;"><a href="<%= @edit_url %>%"><%= @edit_url %></a></p>
<p style="font-size: 16px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;">We truly appreciate your service. Please reach out to us if you have any other suggestions for other ways we can help you.</p>
<p style="font-size: 16px; line-height: 1.625; color: #51545E; margin: .4em 0 1.1875em;">Best,
<br />The Feed A Doc Team</p>