<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width"/>

    <title>Feed A Doc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  </head>

  <body>
    <%= yield %>
  </body>

  <!-- Start of feedadoc Zendesk Widget script -->
  <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=755960fb-d398-4dfb-9417-1f1775db2328"></script>
  <!-- End of feedadoc Zendesk Widget script -->
</html>
